/* font-family: 'Barlow', sans-serif; */
/*  font-family: 'Montserrat', sans-serif; */
/* font-family: 'Caveat', cursive; */

@font-face {
  font-family: ProximaNovaBold;
  src: url("/assets/fonts/ProximaNovaBold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DIV which wraps and sets the width limit for the whole website */
body {
  max-width: 1680px;
  /* height: 1896; */
  margin: 0 auto;
}

/* ====== Utility Classes ====== */

.container {
  margin: 0 auto;
  width: 1240px;
}

.btn-cta {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  box-shadow: -2px -2px 4px 0 rgba(255,255,255,0.5), 2px 2px 4px 0 rgba(0,0,0,0.2);
}

/* ====== Navigation Bar | Menu ====== */

nav {
  /* width: 100%; */
  width: 1237px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0;
}

/* Brand Logo */
nav .navbar-brand {
  width: 170px;
  height: 42px;
}

nav .navbar-brand img {
  width: 100%;
  height: 100%;
}

/* Menu List */
nav ul {
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  display: flex;
  color: #5E5E5E;
  /* width: 880px; */
}

nav ul a {
  text-decoration: none;
  color: #5E5E5E;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  height: 22px;
  letter-spacing: 0;
}

/* Cart & Hamburger menu buttons */
nav .buttons-group {
  display: flex;
  align-items: center;
}

nav .hamburger-menu button,
nav .cart button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 5px; */
}

nav .hamburger-menu button:focus,
nav .hamburger-menu button:active {
  outline: none;
}

nav .cart button {
  margin-right: 33px;
}

nav .cart button img {
  height: 33px;
}

nav .hamburger-menu button {
  display: flex;
  align-items: center;
}

nav .hamburger-menu button img {
  height: 25px;
  width: 36px;
}

/* ====== Hero Section ====== */
.hero {
  background-color: #DBD6D0;
  height: 400px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.3);
}

.hero .container {
  height: 100%;
}

.hero .container .jumbotron {
  height: 100%;
  background: url('/assets/images/hero_image_women.jpg') no-repeat center center;
  background-size: auto 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

}

.hero .container .jumbotron .jumbotron-text {
  grid-column-start: 6;
  grid-column-end: 12;
  margin-left: 10px;
}

.hero .container .jumbotron .jumbotron-text h1 {
  font-size: 80px;
  font-family: 'Barlow', sans-serif;
  color: #fff;
}

.hero .container .jumbotron .jumbotron-text h2 {
  font-size: 24px;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  max-width: 366px;
  color: #676767;
}

.hero .container .jumbotron .jumbotron-text h2 span {
  font-weight: bold;
}

.hero .container .jumbotron .jumbotron-text button {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1px;
  background-color: #DDD6CE;
  padding: 9px 20px 13px 20px;
  /* ================================================================================ NOT WORKIG FONT WEIGHT */
  font-weight: 800px;
  margin-top: 23px;
}

/* ====== Primary Carousel Section ====== */

.carousel-primary {
  height: 375px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

/* Carousel Box */
.box {
  height: 340px;
  width: 400px;
}

.box.box-1 {
  background-color: #3AD6B8;
  box-shadow: inset -2px -2px 5px 0 #B7FFF1, inset 2px 2px 4px 0 #00856B;
}

.box.box-2 {
  background-color: #FFCB3E;
  box-shadow: inset -2px -2px 5px 0 #FFE49A, inset 2px 2px 4px 0 #A37E1D;;
}

.box.box-3 {
  background-color: #1DB0E0;
  box-shadow: inset -2px -2px 5px 0 #1DE0F1, inset 2px 2px 4px 0 #00838E;;
}

.box .box-body {
  display: flex;
}

.box .box-body img {
  height: 350px;
  margin-top: 25px;
}

.box .box-body .group img {
  height: auto;
}

.box.box-1 .box-body .group img {
  height: 41px;
  margin: 58px 0 15px 0;
}

.box.box-2 .box-body .group img {
  width: 148px;
  margin: 53px 0 15px 0;
}

.box.box-3 .box-body .group img {
  width: 185px;
  margin: 61px 0 15px 0;
}

.box .box-body .group p {
  font-family: 'Caveat', cursive;
  font-size: 34px;
  letter-spacing: 0.5px;
  line-height: 32px;
  width: 200px;
  height: 96px;
  margin: 0 0 30px 0;
}

.box.box-1 .box-body .group p {
  color: #075F4E;
}

.box.box-2 .box-body .group p {
  color: #6E5100;
}

.box.box-3 .box-body .group p {
  color: #0D6784;
  margin: 7px 0 15px 0;
}

.box .box-body .group button {
  background-color: inherit;
  font-family: 'ProximaNovaBold', sans-serif;
  padding: 13px 0;
  width: 195px;
}

/* ====== Secondary Carousel Section ====== */

.carousel-secondary .group {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-end;
  margin-bottom: 58.5px;
}

.carousel-secondary .group h1 {
  grid-column-start: 2;
  grid-column-end: 6;
  font-family: 'Barlow', sans-serif;
  color: #00A2B0;
  font-size: 62px;
  line-height: 62px;
}

.carousel-secondary .group .group-right {
  grid-column-start: 6;
  grid-column-end: 12;
  border-top: 1px solid #00A2B0;
  padding-top: 35px;
  /* display: flex; */
}

.carousel-secondary .group .group-right .d-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.carousel-secondary .group .group-right .d-flex .text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #007585;
  width: 399px;
}

.carousel-secondary .group .group-right .d-flex .brand p {
  font-family: 'Caveat', cursive;
  color: #00A2B0;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 5px;
}

.carousel-secondary .group .group-right .d-flex .brand img {
  width: 167px;
}

/* Slider */

.slider {
  display: flex;
}

.slider .slider-item {
  width: 509px;
  height: 321px;
  background-color: #00A2B0;
  box-shadow: -2px -2px 4px 0 rgba(255,255,255,0.79), 2px 2px 4px 0 rgba(0,0,0,0.37);
  display: flex;
  align-items: center;
  margin-right: 21px;
}

.slider .slider-item img {
  max-width: 140px;
  height: auto;
  margin: 0 32px 0 41px;
}

.slider .slider-item .item-body {
  width: 246px;
  color: #fff;
}

.slider .slider-item .item-body .item-title {
  font-family: 'Barlow', sans-serif;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 11px;
}

.slider .slider-item .item-body .item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 17.5px;
}

.slider .slider-item .item-body button {
  width: 155px;
  background-color: inherit;
  font-family: 'ProximaNovaBold';
  font-size: 24px;
  line-height: 24px;
}

/* !!!!!!!!!!!!!!!!!!!! TO BE DELETED */
.white-space {
  height: 300px;
}